<div class="p-5 text-center bg-light rounded">
    <h1 class="mb-3">Bienvenido a la Biblioteca Digital</h1>
    
    <a href="/books" class="btn btn-primary btn-lg mt-3 me-2">Ver Libros</a>
    <a href="/books/add" class="btn btn-success btn-lg mt-3">Agregar Libro</a>
</div>
