<div class="p-4">
    <h1 class="mb-4">Detalle del Libro</h1>

    <ul class="list-group mb-4">
        <li class="list-group-item"><strong>Título:</strong> <%= book.titulo %></li>
        <li class="list-group-item"><strong>Autor:</strong> <%= book.autor %></li>
        <li class="list-group-item"><strong>Año:</strong> <%= book.anio %></li>
        <li class="list-group-item"><strong>Edición:</strong> <%= book.edicion %></li>
    </ul>

    <a href="/books" class="btn btn-secondary">Volver a la lista</a>
</div>
